<div fxLayout="row wrap" fxLayoutGap="16px grid" class="notes" >
  <div *ngFor="let note of notes.reverse()" (click)="onSelect(note)" [class.selected]="note === selectedNote">
    <mat-icon *ngIf="!note.archive" color="alert" aria-hidden="false" class="right-align">cancel</mat-icon>
    <a *ngIf="!note.archive" routerLink="/notes/{{note.date.toDateString()}}">
      <app-detail-note specificityattr [inputNote]="note" [isNotesView]="true" ></app-detail-note>
    </a>
  </div>
</div>
<app-buttons></app-buttons>