.note-form {
  margin-top: 50px;
  margin-bottom: 20px;
}
textarea {
  height: 180px;
}
p {
  white-space: pre-line;
}
.right-align {
  float:right;
  margin-right: 5em;
  margin-top: 10%;
}
.in-center {
  position: absolute;
  top: 10%;
  left: 50%;
}
.flex-div {
  margin-left: 25%;
  margin-top: 10%;
}

form {
  padding: 16px;
}