.note-form {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
textarea {
  height: 180px;
}
p {
  white-space: pre-line;
}
.right-align {
  float:right;
  margin-right: 5em;
}
.in-center {
  position: absolute;
  top: 10%;
  left: 50%;
}