p {
    white-space: pre-line;
  }

mat-card {
  height: 200px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

mat-card-content {
height: 135px;
width: 220px;
max-height: 135px;
overflow: scroll;
overflow-x: hidden;
overflow-y: auto;
}
mat-card-title {
height: 20px;
}