
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@include mat.core();

$light-primary: mat.define-palette(mat.$lime-palette, 500, 100, 900, 600);
$light-accent: mat.define-palette(mat.$deep-orange-palette, 500, 100, 900, 600);
$light-warn: mat.define-palette(mat.$blue-gray-palette, 500, 100, 900, 600);

$dark-primary: mat.define-palette(mat.$blue-gray-palette, 500, 100, 900, 600);
$dark-accent: mat.define-palette(mat.$deep-orange-palette, 500, 100, 900, 600);
$dark-warn: mat.define-palette(mat.$pink-palette, 500, 100, 900, 600);

$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn
  )
));
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn
  )
));

@include mat.all-component-themes($light-theme);
.darkMode {
  @include mat.all-component-themes($dark-theme);
}
